

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}


   /* Card Container */

.card {
  background: rgb(233, 242, 246);
  width: 600px;           
  padding: 40px;         
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


   /* Title */

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h2 img {
  margin-right: 10px;   
  width: 40px;           
  height: 40px;
}


   /* Image Box */

.image-box {
  width: 100%;
  height: 350px;        
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  background: #f3e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}


   /* Breed Info */

.breed {
  font-weight: bold;
  margin-bottom: 12px;
  color: #444;
  font-size: 1.1rem;
}

   /* for Buttons */

button, select {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #d6b197;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 2px;
  transition: 0.3s;
}

button:hover, select:hover {
  background: #da9e73;
}


/* for Loader Spinner */

.loader {
  width: 50px;           
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #ff7a18;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
